body {
  margin: 0;
  font-family: 🇲ontserrat;
}

code {
  font-family: Montserrat;
}
@font-face {
  font-family: 🇲ontserrat;
  src: local("Montserrat"), url("./Fonts/Montserrat/Montserrat-Medium.otf");
}
